body {
    background-color: #111111;
}

.topo {
    background-color: #fafafa;
    padding: 10px 0;
}

.logo {
    width: 300px;
}

.boxProduto {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.010),0 0 8px rgba(102,175,233,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.010),0 0 8px rgba(102,175,233,.1);
}

.boxProduto h1 {
    font-size: 14px;
}

.boxProduto p.descricao {
    font-size: 12px;
}

.img-produto {
    width: 100%;
}

.carrinho {
    background-color: #fff;
    color: #444;
    padding: 10px;
    border-radius: 5px;
    border-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.010),0 0 8px rgba(102,175,233,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.010),0 0 8px rgba(102,175,233,.1);
}

.btn-whatsapp {
    background-color: #34af23;
}

.carrinho-mobile {
    width: 48px;
    height: 48px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
}

.carrinho-mobile a {
    font-size: 30px;
    color: #ef4e36;
}

.listar-pedidos {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px #ddd solid;
    padding: 5px;
}

.listar-pedidos::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.listar-pedidos::-webkit-scrollbar-track {
  background: #eee;        /* color of the tracking area */
}

.listar-pedidos::-webkit-scrollbar-thumb {
  background-color: #444;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #fff;  /* creates padding around scroll thumb */
}

@media (max-width: 767px) {
    .carrinho {
        display: none;
    }
}